# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env
public
app/_test.php
app/_env.php
app/config/database.php
app/crud/uploads/*
!app/crud/uploads/01-christine-ovilla.jpg
!app/crud/uploads/02-marga-joyce-sayson.jpg
!app/crud/uploads/03-kaye-pauline-servidad.jpg
!app/crud/uploads/04-neoli-kryss-angeline-abarientos.jpg
!app/crud/uploads/05-hannah-mae-panibe.jpg
!app/crud/uploads/06-ruffa-mae-armillos.jpg
!app/crud/uploads/07-trizia-marie-abonita.jpg
!app/crud/uploads/08-charlene-boholano.jpg
!app/crud/uploads/09-mary-joy-darilay.jpg
!app/crud/uploads/10-shaina-rabacal.jpg
!app/crud/uploads/11-angela-sheriza-tino.jpg
!app/crud/uploads/12-reinsfer-khrizette-ranara.jpg
!app/crud/uploads/13-christine-arnedo.jpg
!app/crud/uploads/14-iris-oresca.jpg
!app/crud/uploads/15-alyssa-mildred-villariña.jpg
!app/crud/uploads/16-katrina-claudia-jamin.jpg
!app/crud/uploads/17-trishia-barnedo.jpg
!app/crud/uploads/18-maria-ysabella-francesca-sapienza.jpg
!app/crud/uploads/19-seannel-adderie-cruz.jpg
!app/crud/uploads/20-maria-paula-batalla.jpg
!app/crud/uploads/candidate.png
!app/crud/uploads/no-avatar.jpg
!app/crud/dist
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
vendor
.phpunit.cache
.phpunit.result.cache
tests/backend/config/test-database.php
